 
<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
    <div class="col-xs-3">
    <div class="profile-container">
  <h3>User info</h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <h4>Name</h4>
  <h4 class="profile-name"><%= @user.name %></h4>
  <h4>Introduction</h4>
  <h4 class="profile-name"><%= @user.introduction %></h4>
  <% if @user.id == current_user.id %>
     <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
  <% end %>
  <h3>New book</h3>
  <%= form_for(@book) do |f| %>
 
  <h4>Title</h4>
  <%= f.text_field :title %>
 
  <h4>Opinion</h4>
  <%= f.text_area :body %>
 
  <%= f.submit 'Create Book' %>
 
  <% end %>
    </div>
    </div>
      <div class="col-xs-9">  <!-- この行を追加 -->

    <table class="table table-striped">

  <section class="book">
    <h2 class="book-headline">Recent Blogs</h2>
    <div class="book-box">
      <!-- ここから変更 -->
<!--       <% @books.each do |book| %>
        <div class="book-item clearfix">
          <section class="book-text">
            <h3 class="book-text-headline"><%= link_to book.title, book_path(book) %></h3>
            <p class="book-date"><%= book.created_at %></p>
            <span class="category"><%= book.category %></span>
          </section>
        </div>
      <% end %> -->
      <!-- ここまで変更 -->
            <table class="table table-hover">
        <thead>
          <tr>
            <th>user</th>
            <th>title</th>
            <th>opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to user_path(book.user.id) do %><%=  attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg"%><% end %></td>
            <td><%= link_to book.title, book_path(book) %></td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="pagination">

</table>
</div> 

  </div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->
